*::selection{
    background-color: #dc3545;
    color: #fff;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    font-size: 60px;
}

h1 {
    color: #dc3545;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

input {
    background-color: #0000aaaa;
    transform: scale(3);
    border: 2px solid #dc3545aa;
    border-radius: 5px;
    transition: .5s;
    outline: none;
    color: #fff;
    box-shadow: 1px 1px 2px #262626, 2px 2px 2px #757575, 3px 3px 2px #c0c0c0, 4px 4px 2px #ececec;
    text-align: center;
}
input:is(:hover, :focus, :active) {
    border-radius: 6px;
}
input:is(:active, :focus) {
    border-color: #dc3545;
    background-color: #0000ffaa;
}

.hledat {
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    outline: none;

    transform: translate(80px, 30px);
    height: 50px;
    width: auto;
}.hledat:is(:hover, :focus, :active) {
    transform: translate(80px, 30px) scale(1.1);
}