* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all .3s ease;
}
body {
    font-family: monospace, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    font-size: 20px;
    font-weight: 900;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #333;
    margin-top: 20px;
    border-bottom: 5px solid #333;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 20px auto;
}

li {
    background-color: #555;
    margin: 10px 0;
    border-radius: 8888888px;
    box-shadow: 0 0 5px 3px #000;
    transition: transform 0.2s, box-shadow 0.2s;
    animation: pulze 1s infinite;
    animation-delay: calc(var(--index) * 1s);
}

ul li:nth-child(n) {
    --index: n;
}
ul li span {
    position: relative;
    display: block;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
}

a {
    display: block;
    text-decoration: none;
    color: #7fbdff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
input {
    position: absolute;
    top: 20px;
    right: 200px;
    background-color: #0000aaaa;
    transform: scale(3);
    border: 2px solid #dc3545aa;
    border-radius: 5px;
    transition: .5s;
    outline: none;
    color: #fff;
    box-shadow: 1px 1px 2px #262626, 2px 2px 2px #757575, 3px 3px 2px #c0c0c0, 4px 4px 2px #ececec;
    text-align: center;
}
input:is(:hover, :focus, :active) {
    border-radius: 6px;
}
input:is(:active, :focus) {
    border-color: #dc3545;
    background-color: #0000ffaa;
}

.hledat {
    position: absolute;
    top: 5px;
    right: 40px;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    outline: none;
    height: 50px;
    width: auto;
}.hledat:is(:hover, :focus, :active) {
    transform: scale(1.1);
}


@keyframes pulze {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}